article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/* CSS Document */

/*--------------------------------------------------------
Navigation
----------------------------------------------------------*/
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.navbar{
	margin-bottom: 0;
}

.navbar-brand {
	color:#07471A;
}
.nav navbar-nav {
	padding: 20px;
}

nav a:hover {
	color:#C8BF93;
}

/*----------------------------------------------------------
Body
----------------------------------------------------------*/
body{
	background-image:url(Images/upfeathers.png);
}
/*------------------------------------------------------------
Jumbotron
--------------------------------------------------------------*/
.jumbotron {
		margin-top: 0;
		height: 500px;
		background-image:url(Images/spajumbo.jpg);
		
}


.jumbotron .container {
	    position: relative;
		top: 15px;
}

.jumbotron h2 {
	   position: relative;
	   left: 80px;
	   vertical-align: center;
	   color: #FFFFFF;
	   font-size: 32px;
	   text-align: center;
	   font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	   border: 2px white;
}

#relaxheader {
	   color:#FFFFFF;
	   text-align:center;
	   font:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
/*--------------------------------------------------------------------
Form
----------------------------------------------------------------------*/
.appointment {
	position: relative;
	   margin-left: auto;
	   margin-right: auto;
}

/*form {
    color:#FFFFFF;
}